html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation {
  margin-bottom: 2rem;
}

.container {
  width: 60%;
}

.container .index {
  text-align: center;
}

.container .index-button {
  text-align: center;
  margin: 12rem;
}

#sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

#name-input:valid {
  text-transform: uppercase;
}