html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation {
  margin-bottom: 2rem;
}

.container {
  width: 70%; 
}

#sticky-footer {
  margin-top: 2rem;
  width: 100%;
}

#name-input:valid {
  text-transform: uppercase;
}